[Unit]
Description=Cloink Management
Documentation=https://cloink.io/docs
After=network-online.target syslog.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/cloink-management
ExecStart=/usr/bin/cloink-mgmt management $FLAGS
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
CacheDirectory=cloink
ConfigurationDirectory=cloink
LogsDirectory=cloink
RuntimeDirectory=cloink
StateDirectory=cloink

# sandboxing
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateMounts=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=yes
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
